<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.jamiesanson.broker"
    android:versionCode="1">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".BrokerSampleApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>
</manifest>